*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EEEDED;
}
/* Quiz1 */
.quiz-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 12px;
}
.quiz-title{
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    margin-top: 3rem;
}
.quiz-sub-title{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight:lighter;
}

.js-quiz-score{
    color: #9336B4;
    font-weight: bold;
    box-shadow: -1px 0 5px 0 rgba(128, 0, 128, 0.5), 1px 0 5px 0 rgba(128, 0, 128, 0.5);
    padding: 5px 20px;
    font-size: 16px;
    margin-top: 8px;
}

.question-title{
    padding-top: 25px ;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding-left: 20px;
}

.quiz-title-type{
    background-color: #9336B4;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    padding: 4px 5px;
    margin-top: 0.4rem;
}
.opt-btn.invoke{
    color: #fff;
    background-color: #9336B4;
}
.opt-btn.incorrect-state{
    color: #fff;
    background-color: #F45050;
}

.answer-option{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}
.answer-option p:hover{
    cursor: pointer;
}

.opt-btn{
    margin-bottom: 1rem;
    background-color: #EEEDED;
    padding: 10px; 
    width: 18rem;
    height: 2rem;
    font-family:Arial, Helvetica, sans-serif;
}

.check-answer-btn{
   width: 12rem;
   margin-left: 3rem;
    margin-bottom: 10rem;
    font-weight: 700;
    padding: 10px;
    background: linear-gradient(to left,#1d4ab0,#af3345);
    color: #EEEDED;
    outline: none;
    border: none;
    border-radius: 5px;
}
.check-answer-btn.btn2,.btn3,.btn4{
    display: none;
}
.check-answer-btn.btn2.show,.btn3.show,.btn4.show{
    display: block;
}
.check-answer-btn.btn1.hide{
    display: block;
}
.check-answer-btn.btn1.hide{
    display: none;
}

.refresh-btn{
    padding: 0.5rem;
    background: linear-gradient(207deg, #9516c3, #b7b959);
    color: #F0F0F0;
    border: none;
    border-radius: 12px;
    margin-top: 0.5rem;
    width: 6rem;
    display: none;
    cursor: pointer;
}
.refresh-btn.show{
    display: block;
}

.result-popup{
    position: absolute;
    top: 10rem;
    right: 0.7rem;
    background-color: #9336B4;
    font-size: 2rem;
    font-family: 'Poppins';
    padding: 5rem 5rem;
    color: #EEEDED;
    border-radius: 12px;
    display: none;
}
.result-popup.show-popup{
    display: block;
}

.result-popup button{
    padding: 5px 20px;
    border-radius: 12px;
    border: 2px solid green;
    background-color: greenyellow;
}